data/*.Rdata
plots/*
1_simulation/simdata
1_simulation/aux_simdata
1_simulation/job_tracking
1_simulation/results
2_application/21_all_data/job_tracking
2_application/21_all_data/results 
2_application/20_nested_cv/folds
2_application/20_nested_cv/job_tracking
2_application/20_nested_cv/results