data/*.Rdata
plots/*
data/X_variations
1_simulation/simdata
1_simulation/aux_simdata
1_simulation/results
2_application/20_nested_cv/results
2_application/21_all_data/results
2_application/22_wts/results
2_application/23_PCs/results
3_seedsim/results
4_3dsim/results
4_3dsim/3dsimdata
logs
5_competitors/bg_papers
5_competitors/50_sim/500_k_means/plots
5_competitors/50_sim/500_k_means/*.Rdata
5_competitors/50_sim/500_k_means/k_means_check_params.R
5_competitors/50_sim/501_gam/*.RDS
5_competitors/50_sim/501_gam/plots
5_competitors/50_sim/501_gam/plots_refit
5_competitors/51_real/510_k_means/plots
5_competitors/51_real/510_k_means/*.Rdata
5_competitors/51_real/511_gam/*.RDS
5_competitors/50_sim/502_rf/sidcluster-matched.Rdata
5_competitors/50_sim/502_rf/plots
5_competitors/50_sim/502_rf/*.RDS
5_competitors/50_sim/502_rf/plots_reg 
5_competitors/50_sim/503_mixdistreg/cvscores
5_competitors/50_sim/503_mixdistreg/plots_reg
5_competitors/50_sim/504_gphme/GP-HME-main
5_competitors/50_sim/505_gadd/MixtureOfExperts-master
5_competitors/50_sim/506_rf_wts/sidcluster-matched.Rdata
5_competitors/50_sim/506_rf_wts/plots
5_competitors/50_sim/506_rf_wts/*.RDS
5_competitors/50_sim/506_rf_wts/plots_reg 