data/*.Rdata
plots/*
data/X_variations

1_simulation/aux_simdata
1_simulation/results
1_simulation/simdata
2_application/1_all_data/nl_fit.Rdata
2_application/1_all_data/linear_fit.Rdata
2_application/2_wts/results
2_application/3_PCs/results
2_application/3_PCs/remap_seedtabs.R
4_3dsim/3dsimdata
6_competitors/metrics
6_competitors/0_k_means/k_means_make_seedtab.R
6_competitors/0_k_means/best_kmeans__scores-matched.Rdata
6_competitors/4_linear/best_finder.R

todo.md
